
/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #ffffff; text-decoration:none; }
a:visited { color: #ffffff; }
a:hover { color: #ffffff; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
nav ul li:hover{background-color:#565457;}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0;  }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }




/* ===================================================
    Initializr styles
    http://verekia.com/initializr/responsive-template
    Author: Jonathan Verrecchia
   =================================================== */



body{ 
    font:16px/24px Helvetica, Helvetica Neue, Arial, sans-serif;
    background:#DADAE6;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
        
}

.wrapper{
	width:77%;
	margin:0 auto;
}

/* ===================
    ALL: Visual setting(colors)
   =================== */

#header-container{
    background:url("logo_metropolis.jpg");
}

#footer-container{
    background:#08F73B
    
}
#main aside{
	background:#656663;
}
#main section{
    background:#F3F708;
}

#title{ color:white; }

::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }

/* ==============
    MOBILE: Menu
   ============== 

nav a{
	display:block;
	margin-bottom:10px;
	padding:15px 0;

	background:#CFF708; 
	color:white;

	text-align:center;
	text-decoration:none;
	font-weight:bold;
}

nav li a{
    padding: 1% 2% 1% 2%
}
nav li a:hover{
    background-color:#3C3C3B;
}

nav a:hover, nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}*/

/* ==============
    MOBILE: Main
   ============== 

#main{
	padding: 60px 0 30px 0;
}

#main article h1{
	font-size:2em;
}

#main aside{
	color:white;
	padding:0px 5% 10px;
}

#footer-container footer{
	color:white;
	padding:20px 0;
}*/

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== 
	
	nav a{
		float:left;
		width: 13%;
		margin:0 1.7%;
		padding:25px 2%;
		margin-bottom:0;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== 

	.oldie nav a{
		margin:0 0.7%;		
	}*/
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

	#header-container{
        width:77%;
        margin:0 auto;
        margin-top:20px;
        padding-top:95px;
        padding-bottom:160px;
        border-radius:15px;
         -webkit-box-shadow:0 14px 20px #9D9C9F;
           -moz-box-shadow:0 14px 20px #9D9C9F;
		        box-shadow:0 14px 20px 5px #9D9C9F ;
	}
    
	#main aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}
    
    nav{
        -webkit-box-shadow:0 14px 20px #9D9C9F;
    	   -moz-box-shadow:0 14px 20px #9D9C9F;
		        box-shadow:0 14px 20px 5px #9D9C9F ;
    }
    
    nav ul li{
        display:inline;
        text-decoration:none;
        padding:2% 2% 2% 2%;
        border-radius:10px;
    }
    
    
    nav ul li:hover{
        text-decoration:none;
        padding:2% 2% 2% 2%;
        color:#ffffff;
        border-radius:10px;
    }
    
    nav ul {
        Background-color:black;
        padding: 30px 30px 30px 30px;
        border-radius:10px;
    }

/* ============
    WIDE: Menu
   ============ */
	
	#title{
		text-align:center;
        float:right;
	}


	nav{
		display:block;
        margin:0 auto;
        top: 67px;
		width:77%;
        margin-top:30px;
        margin-bottom:30px;
        background:#000000;
        border-radius: 10px;
	}
    


/* ============
    WIDE: Main
   ============ */

    #main-container{
        width:77%;
        margin:0 auto;
    }
    #main{
        width:100%;
        overflow: hidden;
        position: relative;
    }
    
	#main > section{
        display:block;
		float:left;
		width:40%;
        margin-left:80px;
        margin-right: 0px;
        margin-bottom:20px;
        margin-top:20px;
        border-radius:10px;
        padding-right:40px;
        padding-left:40px;
        list-style-type:none;
	}
    
    #main article{
        display:list-item;
        background:#F708DF;
        /*padding:0 30% 0 30%;*/
    }
		
	#main aside {
        display:block;
		float:right;
		width:20%;
        margin-right:5%;
        margin-top:20px;
        padding: 3% 3% 3% 3%;
	}
    
    #main aside section{
        display: list-item;
        margin:0 auto;
        list-style-type:none;
    }
 
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* My style */

#header-container header {
    position: absolute;
    line-height: 200%;
    display: inline-block;
    width: auto;
    margin-left:45%;
}

#main > section {
    padding-left: 10px;
    padding-right: 10px;
    width: 59%;
    margin-left: 4%;
}
#main > aside {
    margin-right: 4%;
    width: 29%;
}
#main-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}